html, body {
    background-color: red;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-size: x-large;
    
}

.page-container {
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 5% 70% 10%;
}

.page-container > * {
    border: solid 1px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 3vh;
}

header, footer, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4vh;
}

main {
    font-size: 4vh;
}

h1 {
    font-weight: bolder;
}

